# Top-most EditorConfig file

root = true

# Only apply to PHP files:
# UTF-8, Unix line endings, Tab indention (1 tab = 4 spaces), Trim trailing whitespace, End files with newline

[*.php]
charset = utf-8
end_of_line = lf
indent_style = tab
tab_width = 4
trim_trailing_whitespace = true
insert_final_newline = true
