#php_value output_buffering On
#php_value output_buffering Off

<IfModule mod_rewrite.c>

RewriteEngine on

# Send all requests that are not existing files or
# directories to index.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

</IfModule>