language: php

sudo: false

matrix:
  include:
    - php: 7.2
    - php: 7.3
  fast_finish: true

services:
  - redis-server

before_install:
  - travis_retry composer self-update

install: travis_retry composer install --no-interaction --prefer-source --no-suggest

script: vendor/bin/phpunit
