includes:
	- phpstan-baseline.neon
parameters:
	level: 2
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		- '#Attribute class AllowDynamicProperties does not exist\.#'
		- '#unknown class GdImage as its type#'
		- '#invalid return type GdImage#'
