includes:
	- phpstan-baseline.neon
parameters:
	level: 2
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		- '#Attribute class AllowDynamicProperties does not exist\.#'
	universalObjectCratesClasses:
		- mako\database\query\Result
