includes:
	- phpstan-baseline.neon
parameters:
	ignoreErrors:
		- '#Unsafe usage of new static\(\)\.#'
		- '#Method mako\\redis\\Redis::[a-zA-z]+\(\) invoked with [0-9]+ parameters?, [0-9]+ required.#'
