parameters:
	ignoreErrors:
		-
			message: "#^Variable \\$start might not be defined\\.$#"
			count: 1
			path: src/mako/database/connections/Connection.php

		-
			message: "#^Call to an undefined method mako\\\\database\\\\midgard\\\\ResultSet\\:\\:including\\(\\)\\.$#"
			count: 1
			path: src/mako/database/midgard/ResultSet.php

		-
			message: "#Used function enum_exists not found.#"
			count: 1
			path: src/mako/database/query/compilers/Compiler.php

		-
			message: "#Function enum_exists not found.#"
			count: 1
			path: src/mako/database/query/compilers/Compiler.php

		-
			message: "#Used function enum_exists not found.#"
			count: 1
			path: src/mako/validator/rules/Enum.php

		-
			message: "#Function enum_exists not found.#"
			count: 1
			path: src/mako/validator/rules/Enum.php
