<?php

namespace {{namespace}};

use mako\database\migrations\Migration;

class Migration_{{version}} extends Migration
{
	/**
	 * Description.
	 *
	 * @var string
	 */
	protected string $description = '{{description}}';

	/**
	 * Makes changes to the database structure.
	 */
	public function up(): void
	{
		$this->getConnection()->query
		(<<<SQL

		SQL);
	}

	/**
	 * Reverts the database changes.
	 */
	public function down(): void
	{
		$this->getConnection()->query
		(<<<SQL

		SQL);
	}
}
