<?php

namespace {{namespace}};

use mako\database\migrations\Migration;

class Migration_{{version}} extends Migration
{
	/**
	 * Description.
	 *
	 * @var string
	 */
	protected $description = '{{description}}';

	/**
	 * Makes changes to the database structure.
	 */
	public function up()
	{
		$this->getConnection()->query
		(

		);
	}

	/**
	 * Reverts the database changes.
	 */
	public function down()
	{
		$this->getConnection()->query
		(

		);
	}
}
