name: "Static analysis"

on:
  push:
  pull_request:

jobs:
  static-analysis:
    name: "Static analysis"
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
          php-version:
            - "8.0"
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v3"
      - name: "Setup PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          php-version: "${{ matrix.php-version }}"
          ini-values: "memory_limit=-1"
          tools: composer:v2
          coverage: none
      - name: "Install dependencies"
        uses: nick-invision/retry@v2.8.2
        with:
          timeout_minutes: 5
          max_attempts: 5
          command: composer install --prefer-dist --no-interaction --no-progress
      - name: "Run analysis"
        run: "./vendor/bin/phpstan analyze src --no-progress --memory-limit=-1 -c phpstan.neon"
