name: "Tests"

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * *'

jobs:
  tests-on-linux:
    name: "Tests on linux"
    runs-on: "ubuntu-latest"
    continue-on-error: ${{ matrix.experimental }}
    services:
      redis:
        image: redis:7
        ports:
          - 6379:6379
        options: --entrypoint redis-server
    strategy:
      fail-fast: false
      matrix:
        include:
          - php-version: "8.4"
            experimental: false
            #composer-options: "--ignore-platform-reqs"
          - php-version: "8.5"
            experimental: true
            #composer-options: "--ignore-platform-reqs"

    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v6"
      - name: "Setup PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          php-version: "${{ matrix.php-version }}"
          extensions: mbstring, sqlite, pdo, pdo_sqlite
          ini-values: "memory_limit=-1"
          tools: composer:v2
          coverage: none
      - name: "Install dependencies"
        uses: nick-invision/retry@v3.0.2
        with:
          timeout_minutes: 5
          max_attempts: 5
          command: >-
            composer install
            --prefer-dist
            --no-interaction
            --no-progress
            ${{ matrix.composer-options }}
      - name: "Run tests"
        run: "composer phpunit"
